
/* General */
body {
    background-color: #e0e1dd;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 18px;
    
}
#pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

#name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#profile {
    margin-bottom: 100px;
}
h1 {
    font-family: 'Inconsolata', monospace; 
    padding: 10% 10%;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    
}

h2 {
    border-bottom: 1px solid #1b263b;
    font-size: 30px;
    font-family: 'Inconsolata', monospace; 
    padding-top: 10%;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.italic {
    font-style: italic;
    font-size: 18px;
}

.description {
    margin-left: 5%;
    font-size: 18px;
    margin-top: -20px;
}

/* side bar */
#left-side-bar {
    background-color:#0d1b2a;
    min-width: 60px;
    opacity: 0.85;
}

#sideNavColl {
    position: fixed;
    padding-top: 15%;
    
}

#nav-list a {
    color: #d7dace;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

#nav-list a:hover {
    /* color: #415a77; */
    font-style: italic;
    transition: 2s;
}

#nav-list a.active {
    color: #415a77;
    font-style: italic;
}

.resume {
    margin-top: 150px;
    background-color: #415a77;
    color: #d7dace;
}

.navbar-toggler {
    margin-top: 30px;
    margin-left: 0;
    position: fixed;
}

#nav-list-canvas a {
    color: #d7dace;
    font-size: 15px;
}

/* body */

.container {
    padding: 7% 10%;
    overflow-y: scroll;
    position: relative;
    scroll-behavior: auto;
}

p.intro::first-letter {
    font-size: 40px;
}

.offcanvas {
    width: 600px;
    background-color:#0d1b2a;
    color: #d7dace;
}

/* #description-2 {
    font-size: 16px;
} */


.X {
    color: #d7dace;
}



.link-vt {
    color: #800000;
}

.link {
    color: #1b263b;
}

/* Mobile version */
@media (max-width: 991px) {
    .offcanvas {
        width: 110px;
        opacity: 0.8;
    }

    body {
        font-size: 12px;
    }

    .bold {
        font-weight: bold;
        font-size: 16px;
    }
    
    .italic {
        font-style: italic;
        font-size: 14px;
    }
    
    .description {
        margin-left: 5%;
        font-size: 12px;
        margin-top: -20px;
    }
    h2 {
        font-size: 18px;
    }

    #name {
        font-size: 18px;
    }
}

