
/* General */
a {
    text-decoration: none;
}

body {
    background-color: #e0e1dd;
    font-family: 'Ubuntu', sans-serif; 
    font-size: 14px;
    
}

a {
    color: #0d1b2a;
}

/* Body */

main {
    margin-left: 5%;
}


h1 {
    text-align: center;
    padding-bottom: 50px;
    font-family: cursive;
    font-size: 25px;
}

main section {
    margin-left: 10%;
    margin-right: 10%;
}

main section h2 {
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    text-transform: uppercase;
}

main section p {
    margin-left: 10%;
}

main section .bold {
    font-weight: bold;
    font-size: 16px;
}

main section .italic {
    font-style: italic;
    font-size: 16px;
}

main section .description {
    margin-left: 10%;
    font-size: 14px;
    margin-top: -3%;
}
